<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- medium-editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
        type="text/css" media="screen" charset="utf-8">
    <!-- custome css -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>

<body class="color_change">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
        style="font-family: 'Times New Roman', Times, serif; font-size: 1.5em;margin-bottom: 10px;">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size: 1.5em;" href="{% url 'post_list' %}">My Post</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block about %}{% endblock %}" aria-current="page" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.github.com" target="_blank">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com" target="_blank">LinkedIn</a>
                    </li>

                </ul>
                <form class="d-flex">
                    {% if user.is_authenticated %}
                    <li class="nav-link">
                        <h3 style="color: white;">Welcome {{ user.username }}</h3>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="{% url 'post_new' %}">New Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-warning" href="{% url 'post_draft_list' %}">Drafts</a>
                    </li>
                    <li class="nav-item">
                       <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'register' %}" class="btn btn-outline-warning m-2">Register</a>
                        <a href="{% url 'login' %}" class="btn btn-outline-success m-2">LogIn</a>
                        
                    </li>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>

    <div class="content container" style="font-family: 'Times New Roman', Times, serif;">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_post color_change">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/95c184082f.js" crossorigin="anonymous"></script>
</body>

</html>